.card-items{
    color: #fff;
    width: 50%;
    background-color: rgb(105, 29, 63);
    border-radius: 10px;
    box-shadow: 5px 5px 50px 10px black;
    ul{
        list-style-type: none;
        margin-left: 0;
        padding: 0;
        
        }
}
